
#top{
  margin: 2%;
}
#home {
  text-align: center;
}
#second{
  padding: 2% 0% 2% 0%;
}

.heading{
  text-align: center;
  margin: 4%;
}
.heading2{
  text-align: center;
  padding: .5%;
}
.img1{
  width: 200px;
  height: 200px;
}


#opening{
  padding: 2% 0% 2% 0%;
  background: url("img/uniMidPic7.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}
.img4{
  height: 100%;
  width: 100%;
}
.buyNowBtn{
  background-color: black;
  color: #fff;
  border: none;
  padding: .75%;
}
/* .home-banner-1{
  background-repeat: no repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 650px;
  position: relative;
  background-image: url("img/uniMidPic7.jpg");
} */
.home-banner-2{
  background-repeat: no repeat;
  background-size: cover;
  background-position: 90% center;
  min-height: 650px;
  position: relative;
  background-image: url("img/uniMidPic5.jpg");
}
.openingText{
  text-align: center;
  padding: 10% 5% 5% 5%;
}
.openingText2{
  padding: 5%;
}


#side{
  margin: 0%;
  padding: 0%;
  list-style: none;
  text-decoration: none;
}

.sidebarHolder{
  /* margin-top: 50px; */
}

/* .checkboxClass{
  margin: 100px;
}
.checkboxLabelClass{
  margin: 100px;
} */

.sidebar{
  position: fixed;
  margin-top: 2.1%;
  z-index: 1111;
  left: -250px;
  width: 250px;
  height: 100%;
  /* background: #042331; */
  background: grey;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 22px;
  color: #fff;
  text-align: center;
  line-height: 70px;
  /* background: #063146; */
background: grey;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: #fff;

  padding-left: 40px;
  box-sizing: border-box;
  /* border-top: 1px solid rgba(255, 255, 255, .1); */

  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}

label #cancel{
  /* position: absolute; */
  cursor: pointer;
  background: black;
  border-radius: 20px;
}

label #cancel{
  position: fixed;
  z-index: 1111;
  /* left: -195px;
  top: 17px; */
  font-size: 30px;
  /* color: #0a5275; */
  color: grey;
  padding: 10px 20px;
  margin-left: 4%;
  margin-top: 4%;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0px;
}

#check:checked ~ label #cancel{
  left: 195px;
}

#sec{
  background: url("img/uniMidPic20.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  transition: all .5s;
}





#testimonials{
  margin: 5%;
  padding: 5%;
    text-align: center;
}
.img2{
  border-radius: 100%;
  width: 10%;
}
.carousel-outer{
  background-color: rgba(0,0,0,0.1);
}
.testimonialsText1{
  padding: 2%;
}

#preOwned{
  text-align: center;
}
.img3{
  height: 30%;
  width: 30%;
}
.text1{
  margin: 4%;
}


#banner{
  text-align: center;
}
.bannerImage{
  width: 90%;
  height: 200px;
}
.bannerFirstClass{
  margin: 5%;
}
.bannerInner{
  position: relative;
}
.bannerInner::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.2);
  z-index: 2;
  cursor: pointer;
  transition: 0.5s;
}
.bannerInner img{
  transition: 0.5s;
}
.bannerInner:hover img{
  transform: scale(1.1);
}
.textLineBanner h2{
  color: #fff;
  font-size: 1.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  z-index: 3;
}
